.banner {
    img {
        width: 100%;
    }
}
.main {
    background-color: burlywood;
    height: 100vh;
    &__ts {
        color: black;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
    }
}

.title {
    color: red;    
    text-align: center;
}