.link {
    text-decoration: none;
    color: #56392F;
    font-weight: bold;
    text-transform: uppercase;
}
.activeLink {
    color: #cf3128;
    font-weight: bold;
    text-transform: uppercase;
}